﻿@model RPG_Buddy.Models.AdventureCard

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AdventureCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpisPrzygody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisPrzygody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postać1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postać2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postać3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postać4)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
