﻿@model RPG_Buddy.Models.AdventureCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdventureCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpisPrzygody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisPrzygody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać1)
        </dt>

        <dd>           
            @{string link1 = "/Detailsx/" + ViewBag.nr1; }
                @Html.ActionLink("Postać pierwsza", link1, "Manage")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać2)
        </dt>

        <dd>
            @{string link2 = "/Detailsx/" + ViewBag.nr2; }
            @Html.ActionLink("Postać druga", link2, "Manage")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać3)
        </dt>

        <dd>
            @{string link3 = "/Detailsx/" + ViewBag.nr3; }
            @Html.ActionLink("Postać trzecia", link3, "Manage")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postać4)
        </dt>

        <dd>
            @{string link4 = "/Detailsx/" + ViewBag.nr4; }
            @Html.ActionLink("Postać czwarta", link4, "Manage")
        </dd>
        <dd>
            @Html.ActionLink("Przedmiot 1", "Detailsy", new { id = ViewBag.nr5 })
        </dd>

        <dd>
            @Html.ActionLink("Przedmiot 2", "Detailsy", new { id = ViewBag.nr6 })
        </dd>

        <dd>
            @Html.ActionLink("Przedmiot 3", "Detailsy", new { name = ViewBag.nr7 })
        </dd>

        <dd>
            @Html.ActionLink("Przedmiot 4", "Detailsy", new { name = ViewBag.nr8 })
        </dd>
        <dd>
            @Html.ActionLink("Przedmiot 5", "Detailsy", new { name = ViewBag.nr9 })
        </dd>

        <dd>
            @Html.ActionLink("Przedmiot 6", "Detailsy", new { name = ViewBag.nr10 })
        </dd>

        <dd>
            @Html.ActionLink("Przedmiot 7", "Detailsy", new { name = ViewBag.nr11 })
        </dd>

        <dd>
            @Html.ActionLink("Przedmiot 8", "Detailsy", new { name = ViewBag.nr12 })
        </dd>
        <dd>
            @Html.ActionLink("Przedmiot 9", "Detailsy", new { name = ViewBag.nr13 })
        </dd>

        <dd>
            @Html.ActionLink("Przedmiot 10", "Detailsy", new { name = ViewBag.nr14 })
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
