﻿@model IEnumerable<RPG_Buddy.Models.AdventureCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OpisPrzygody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postać1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postać2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postać3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postać4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot10)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OpisPrzygody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postać1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postać2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postać3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postać4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot10)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
