﻿@model RPG_Buddy.Models.CharacterTemplate

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CharacterTemplate</h4>
        <hr />
       

        
        <!--@Html.DropDownList("ruleset", new SelectList(ViewBag.rList, "Id", "Name"))
            -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" id="schemaDiv">
            @Html.LabelFor(model => model.Schema, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Schema, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Schema, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="nameDiv">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" />
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <!--div>
                        <label>Nazwa</label>

                    </div>-->

                    <div>
                    <input type="text" id="attributeField" />
                    <button type="button" onclick="addAttribute()">dodaj atrybut</button>
                    </div>
                    <div>
                        <select id="consList">
                            <option value="maxVal">Maksymalna wartosc atrybutow</option>
                            <option value="minVal">Minimalna wartosc atrybutow</option>
                            <option value="pointsTotal">Liczba punktow do rozdzielenia</option>

                        </select>
                        <input type="text" id="constraintField" />
                        <button type="button" onclick="addConstraint()">dodaj ograniczenie</button>
                    </div>
                </div>
                
                
                <div class="col-md-8">
                    <textarea id="textArea"></textarea>
                </div>
            </div>
        </div>

        <button type="button" onclick="save()">Dodaj do bazy</button>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    document.getElementById("schemaDiv").style.display = "none";
    //document.getElementById("nameDiv").style.display = "none";
    document.getElementById("submitBtn").style.display = "none";

    var schema = {"attributes":[],"constraints":[]}

    function addAttribute() {

        var atr = document.getElementById("attributeField").value
        schema.attributes.push(atr)

        var displayedSchema = JSON.stringify(schema,null,2)
        textArea.value = displayedSchema

    }

    function addConstraint() {
        var e = document.getElementById("consList");
        var consName = e.value
        var consVal = document.getElementById("constraintField").value
        var obj = {}
        obj[consName] = consVal
        schema.constraints.push(obj)

        var displayedSchema = JSON.stringify(schema, null, 2)
        textArea.value = displayedSchema
    }

    function save() {
        document.getElementById("Schema").value = JSON.stringify(schema)
        document.getElementById("submitBtn").click()
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
