﻿@model IEnumerable<RPG_Buddy.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.UserName)
                @Html.DisplayNameFor(model => model.Id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Detailsx", new { id = item.Id }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
