﻿@model RPG_Buddy.Models.CharacterCard

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
