﻿@model RPG_Buddy.Models.CharacterCard

@{
    ViewBag.Title = "Edit";
}


<script type="text/javascript" src="rating.js"></script>
<link rel="stylesheet" type="text/css" href="rating.css" />

<h2>Info</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CharacterCard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @foreach (var formItem in Model.CharacterCardFormValues)
        {
            <div class="form-group">
                @Html.LabelFor(x => formItem.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(x => formItem.Value, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        }









        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
            
    </div>
}
@{string actionUp = "/CharacterCard/Upvote";
    string actionDown = "/CharacterCard/Downvote";

    Session["id"] = Model.Id;
    int characterCardId = Model.Id;
    var action = "CharacterCard/Vote";
}

@using (Html.BeginForm("Vote", "CharacterCard", FormMethod.Post))
{
    @Html.Hidden("characterCardid", Model.Id);
    <!--<input type="hidden" name="characterCardid" value=@characterCardId />-->
    @Html.DropDownList("rating", new SelectList(new[] { 1, 2, 3, 4, 5 }))
    <!-- <select id="selectNumber" name="rating">
        <option>Choose a number</option>
    </select>-->

    <input type="submit" value="Vote" />
}

@{Html.RenderAction("getTotalRating", new { Id = Model.Id });}



<!--
<form id="voteForm" method="post" action=@action >
    <!-- <input id="hideit1" type="text" class="rating rating10" />
       
    <select id="selectNumber" name="rating">
        <option>Choose a number</option>
    </select>
    <input type="hidden" name="characterCardid" value=@characterCardId />
    <input type="button" onclick="submitVoteForm()" value="Vote">
</form>


<form id="frm1" action=@actionUp>
    <input id="hideit1" type="text" class="rating rating10" />
      
    <select id="selectNumber">
        <option>Choose a number</option>
    </select>

    <input type="button" onclick="myFunction1()" value="Upvote">
</form>
<form id="frm2" action=@actionDown>
    <input id="hideit2" type="text" class="rating rating10" />
    <input type="button" onclick="myFunction2()" value="Downvote">
</form>
-->
     
<!--<td>@Html.ActionLink("Vote", "Vote", new { characterCardid = Model.Id, rating = 1 })</td>
    -->
@{var sum = Model.Votes.Select(v => v.Value).Sum(); }



<!--@Html.DisplayText(sum.ToString())-->



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    var select = document.getElementById("selectNumber");
    var options = ["1", "2", "3", "4", "5"];
    for (var i = 0; i < options.length; i++) {
        var opt = options[i];
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    }

    function submitVoteForm() {
        document.getElementById("voteForm").submit();
    }


   // document.getElementById("hideit1").style.display = 'none';
   // document.getElementById("hideit2").style.display = 'none';
    function myFunction1() {
        document.getElementById("frm1").submit();

    }
    function myFunction2() {
        document.getElementById("frm2").submit();

    }

$(function ()
{
    $('.rating').rating();
});

function save(){



}

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




