﻿@model RPG_Buddy.Models.CharacterVote

@{
    ViewBag.Title = "Vote";

}

@{ int rating = ViewBag.rating;

    if (rating == null) { rating = 0; }

    string status = ViewBag.querystatus;}

<h2>Vote</h2>

<h2>Dodano ocenę: @rating</h2>




