﻿@model RPG_Buddy.Models.ItemCardViewModel

@{
    ViewBag.Title = "Create";
}


<form id="nameForm">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ItemCard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.DropDownListFor(m => m.ItemTemplate, new SelectList(Model.ItemTemplateNames), new { @class = "form-control", id = "dropDown" })
        </div>


        <div class="form-group">
            <button type="button" id="formButton" value="Create" class="btn btn-default">Wybierz</button>
        </div>
    </div>
</form>

<h2>Create</h2>
<script type="text/javascript">
    $(document).ready(function () {

        var template;

        $("#dropDown").change(function () {
            //alert("Handler for .change() called.");
        });

        $("#formButton").click(function () {
            var selectedOption = $("#dropDown option:selected").text();
            console.log(selectedOption);
            $.ajax({
                method: 'post',
                url: "/ItemCard/GetTemplate",
                data: { name: selectedOption }
            }).done(function (data) {
                createForm(data, selectedOption);

            });

        });

        function createForm(data, selectedOption) {
            console.log("Selected option aklfjsalkdjsakl", selectedOption);
            $("#nameForm").hide();
            // Generate a form
            //var template1 = { "attributes": ["atr1", "atr2"], "constraints": [{ "maxVal": "10" }, { "minVal": "0" }] }
            //var template = { "attributes": ["sila", "sila", "moc"], "constraints": [{ "maxVal": "100" }, { "minVal": "0" }, { "pointsTotal": "50" }, { "maxVal": "5" }, { "minVal": "50" }, { "pointsTotal": "80" }] }
            console.log(data.Schema, null, 2);
            var template = JSON.parse(data.Schema);
            console.log(JSON.stringify(template, null, 2));
            var html = [];

            firstName = {
                "name": "username",
                "caption": "Nazwa postaci",
                "type": "text",
                "class": "form-control"
            }
            html.push(firstName);

            for (var j = 0; j < template.attributes.length; j++) {
                var field = {};
                field.name = template.attributes[j];
                field.caption = template.attributes[j];
                field.type = "text";
                field.class = "form-control";
                html.push(field);
            }
            var submit = {
                "type": "submit",
                "value": "Create",
                "class": "btn btn-default"
            }
            html.push(submit);

            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "name").val(selectedOption);
            $('#myform').append($(input));

            console.log(JSON.stringify(html, null, 2));

            $("#myform").dform({
                "action": "/ItemCard/Create",
                "method": "post",
                "html": html
            })

        }
        $(function () {
            // Generate a form
            //var template1 = { "attributes": ["atr1", "atr2"], "constraints": [{ "maxVal": "10" }, { "minVal": "0" }] }
            /*var template = { "attributes": ["sila", "sila", "moc"], "constraints": [{ "maxVal": "100" }, { "minVal": "0" }, { "pointsTotal": "50" }, { "maxVal": "5" }, { "minVal": "50" }, { "pointsTotal": "80" }] }
            console.log(JSON.stringify(template, null, 2));
            var html = [];

            firstName = {
                "name": "username",
                "id": "txt-username",
                "caption": "Username",
                "type": "text",
                "placeholder": "E.g. user@example.com"
            }

            for (var j = 0; j < template.attributes.length; j++) {
                var field = {};
                field.name = template.attributes[j];
                field.caption = template.attributes[j];
                field.type = "text";
                field.class = "form-control"
                //field.max = template.constraints[j].maxVal;
                html.push(field);
            }
            var submit = {
                "type": "submit",
                "value": "Create",
                "class": "btn btn-default"
            }
            html.push(submit);


            console.log(JSON.stringify(html, null, 2));



            $("#myform").dform({
                "action": "/ItemCard/Create",
                "method": "post",
                "html": html

            })*/
        });
    });

</script>
<div class="form-horizontal">
    <form id="myform"></form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}