﻿@model RPG_Buddy.Models.ItemCard

@{
    ViewBag.Title = "Edit";
}

<h2>Info</h2>


@using (Html.BeginForm("Edit", "ItemCard", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ItemCard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @foreach (var formItem in Model.ItemCardFormValues)
        {
            <div class="form-group">
                @Html.LabelFor(x => formItem.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(x => formItem.Value, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
            
    </div>
}
@using (Html.BeginForm("Vote", "ItemCard", FormMethod.Post))
{
    @Html.Hidden("itemId", Model.Id);
   
    @Html.DropDownList("rating", new SelectList(new[] { 1, 2, 3, 4, 5 }))
    

    <input type="submit" value="Vote" />
}
@{Html.RenderAction("getTotalRating", new { Id = Model.Id });}





    <td>@Html.ActionLink("Vote", "Vote",  new { itemid = Model.Id, rating = 1 })</td>


<div>
    
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}